// Preloader
.preloader {
  background-color: $primary_color;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999999;
  overflow: hidden;
  .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    &:after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
    .content {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      font-size: 0;
    }
  }
}

.preloader * {
  transition: all 0.3s;
}

.preloader .loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  margin-left: -60px;
  margin-top: -60px;
}

.preloader .loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  transform-origin: 60px 60px;
  mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  animation: rotate 1.2s infinite linear;
  .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.preloader #particles-background,
.preloader #particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  transform: scale3d(0.5, 0.5, 1);
}

.preloader #particles-background {
  background: #2c2d44;
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

.preloader lesshat-selector {
  -lh-property: 0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader lesshat-selector {
  -lh-property: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}

.preloader lesshat-selector {
  -lh-property: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.preloader [not-existing] {
  zoom: 1;
}

.section-gap {
  padding: 120px 0 80px;
}

.section-gap-2 {
  padding: 80px 0 120px;
}

.section-top-gap-120 {
  padding-top: 120px;
}

.section-bottom-gap-120 {
  padding-bottom: 120px;
}

.section-top-gap-80 {
  padding-top: 80px;
}

.section-bottom-gap-80 {
  padding-bottom: 80px;
}

.mb-72 {
  margin-bottom: calc(72px - 40px);
}

.title-pb-40 {
  padding-bottom: 40px;
  h3 {
    font-size: 24px;
    font-weight: $fw_semi_bold;
    padding-bottom: 33px;
    text-transform: capitalize;
  }
}

// Seperator
.seperator {
  padding-bottom: 40px;
  border-bottom: 1px solid $seperate;
}

.seperator-2 {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid $seperate;
}

// Nice Number
.nice-number {
  border: 1px solid $seperate;
  border-radius: 5px;
  padding: 0px 20px;
  button,
  input {
    outline: 0;
    border: 0;
    background: transparent;
    font-size: 20px;
  }
  button {
    font-size: 30px;
    color: $sub_heading_color;
  }
}

// Nice Select
select {
  display: none;
}

.form-select {
  background-image: none;
}

.nice-select {
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #d1d5de;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 18px;
  color: #999;
  font-weight: normal;
  outline: none;
  padding: 30px 22px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 18px;
  line-height: 10px;
  &:hover {
    border-color: #d1d5de;
  }
  .option {
    &.selected {
      font-weight: normal;
    }
  }
  &::after {
    border: none;
    content: url('/assets/image/arrow-down.svg');
    display: block;
    height: 5px;
    pointer-events: none;
    position: absolute;
  }
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #d1d5de;
  font-weight: normal;
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
  width: 100%;
  border-radius: 7px;
  border: 1px solid #d1d5de;
}

.right-cate .nice-select::after{
  content: url('/assets/image/arrow-down-white.svg');
}

// Section Title
.section-title {
  font-size: 40px;
  color: #012665;
  @media screen and (max-width: 768px) {
    font-size: 23px;
  }
}
