@font-face {
  src: url(../fonts/HelveticaNowText-Light.ttf);
  font-family: 'HelveticaThin', sans-serif;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  src: url(../fonts/HelveticaNowText-Regular.ttf);
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(../fonts/HelveticaNowText-Bold.ttf);
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 700;
}
