.footer-top {
  background-color: $primary_color;
  padding: 120px 0px 80px;
  position: relative;
  @media screen and (max-width: 991px) {
    .footer-element-1,
    .footer-element-3,
    .footer-element-4,
    .footer-element-5,
    .footer-element-6 {
      display: none;
    }
  }
}
.footer-element-1 {
  position: absolute;
  top: 72px;
  left: 94px;
}
.footer-element-3 {
  position: absolute;
  top: 93px;
  right: 129px;
}
.footer-element-4 {
  position: absolute;
  bottom: 73px;
  left: 738px;
}
.footer-element-5 {
  position: absolute;
  bottom: 67px;
  right: 184px;
}
.footer-element-6 {
  position: absolute;
  top: 18px;
  left: 600px;
}
.footer-widget {
  .footer-logo {
    padding-bottom: 27px;
  }
  .footer-title {
    font-size: 28px;
    color: #fff;
    line-height: 130%;
    padding: 20px 0 27px;
  }
  .footer-text {
    p {
      color: #fff;
    }
  }
  .footer-icon {
    margin-top: 30px;
    ul {
      gap: 16px;
      li {
        list-style: none;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #244c8d;
          transition: all 0.3s;
          &:hover {
            background-color: #fff;
            i {
              color: #ff5400;
            }
          }
        }
      }
    }
    i {
      color: #fff;
    }
  }
  .footer-list {
    a {
      color: #fff;
      font-size: 20px;
      line-height: 170%;
      margin-bottom: 12px;
    }
  }
}
.footer-contact {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
  .icon,
  .text {
    color: #fff;
    font-size: 20px;
  }
}
.footer-copy {
  padding: 27px 0;
  background-color: #012665;
}
.footer-copy-text {
  font-size: 20px;
  color: #fff;
}
