.content-title {
  padding-bottom: 24px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccd4e0;
}
.section-link {
  padding: 12px 24px;
  background-color: #f7f7f7;
  border-radius: 4px;
  font-size: 20px;
  color: $primary_color !important;
  font-weight: 700;
  i {
    padding-left: 6px;
  }
}
