.content-title {
  padding-bottom: 24px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccd4e0;
  row-gap: 30px;
}
.section-link {
  padding: 12px 24px;
  background-color: #f7f7f7;
  border-radius: 4px;
  font-size: 20px;
  color: $primary_color !important;
  font-weight: 700;
  transition: all 0.3s;
  @media screen and (max-width: 767px) {
    padding: 15px;
    font-size: 16px;
  }
  i {
    padding-left: 6px;
  }
  &:hover {
    background-color: $primary_color;
    color: #fff !important;
    i {
      color: #fff;
    }
  }
}
