.promo-tab {
  padding-bottom: 37px;
  .nav {
    gap: 24px;
    .nav-item {
      .nav-link {
        border-radius: 4px;
        padding: 16px 40px;
        font-size: 16px;
        font-weight: $fw_medium;
        background-color: #f4f4f4;
        color: #013182;
        &.active {
          background-color: $primary_color;
          color: #fff;
        }
        &:hover {
          background-color: $primary_color;
          color: #fff;
        }
      }
    }
  }
}
