.pt-80 {
  padding-top: 80px;
}
.pt-72 {
  padding-top: 72px;
}
.pb-72 {
  padding-bottom: 72px;
}
.ml-35 {
  margin-left: 35px !important;
  @media screen and (max-width: 991px) {
    margin-left: 0 !important;
  }
}
.ml-30 {
  margin-left: 30px !important;
  @media screen and (max-width: 991px) {
    margin-left: 0 !important;
  }
}
