.testimonial {
  padding: 160px 0 120px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 585px;
    background-color: #68b999;
    @media screen and (max-width: 991px) {
      height: 700px;
    }
  }
  .testi-element-1 {
    position: absolute;
    right: 134px;
    bottom: 115px;
    z-index: 1;
  }
  @media screen and (max-width: 991px) {
    .testi-element-1 {
      display: none;
    }
  }
}
.testi-item-wrap {
  position: relative;
  z-index: 1;
}
.testi-author {
  border-radius: 12px;
  overflow: hidden;
  &-content {
    padding: 40px;
    background-color: #fff;
    a {
      display: block;
      font-size: 28px;
      color: $primary_color;
      line-height: 130%;
      padding-bottom: 12px;
      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }
    p {
      font-size: 16px;
      color: #99adcd;
      line-height: 160%;
    }
  }
}
.testi-text {
  position: relative;
  img {
    position: absolute;
    top: -140px;
  }
  p {
    font-size: 27px;
    color: #fff;
    line-height: 160%;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
}
.swiper-pagination {
  bottom: 100px !important;
  left: 60px !important;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #b3dccc;
    margin-right: 20px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
}
@media screen and (max-width: 991px) {
  .testi-text {
    img {
      display: none;
    }
  }
  .swiper-pagination {
    display: none;
  }
}
