.think-box-content {
  padding: 112px 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.think-box-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #693fd7;
  opacity: 30%;
}
.think-box {
  position: relative;
  color: #fff;
  h3 {
    color: #fff;
  }
}
