/*global variable*/

$body_font: 'Helvetica', sans-serif;
$body_font_size: 16px;
$body_text_color: #012665;
// Menu css
$menu_font_size: $body_font_size;
$menu_font_color: #fff;
$menu_font_hover: #fbd15b;
// Common color css
$primary_color: #013183;
$secondary_color: #012665;
$text_color_1: #ff5400;
$text_color_2: #717171;
$text_color_3: #17233e;
$text_color_4: #e26262;
$seperate: #d4d4d4;
$heading_size: 38px;
$heading_color: #232323;
$sub_heading_size: 18px;
$sub_heading_color: #e25645;
$hero_banner: #fefaf1;
$logo_color: #52bce6;
$author_color: #a3a8af;
$author_font_size: 16px;
$button_color_2: #f2ad48;
$section_bg: #f0f4f7;
// Font Weight
$fw_medium: 500;
$fw_semi_bold: 600;
$fw_bold: 700;
