/*Fonts*/
@font-face {
  src: url(../fonts/HelveticaNowText-Light.ttf);
  font-family: "HelveticaThin", sans-serif;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  src: url(../fonts/HelveticaNowText-Regular.ttf);
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(../fonts/HelveticaNowText-Bold.ttf);
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
}
/*global variable*/
/*----------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  color: #012665;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  background-color: #fff;
  line-height: 1.56;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
  font-size: 38px;
  color: #232323;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
}

ol,
ul {
  padding-left: 0;
}
ol li,
ul li {
  list-style: none;
}

.ul-li ul {
  margin: 0;
  padding: 0;
}
.ul-li ul li {
  list-style: none;
  display: inline-block;
}

[data-background] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a:visited,
a.active,
select,
select:hover,
select:focus,
select:visited {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.scroll-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff5400;
  width: 50px;
  height: 50px;
  color: #fff;
  bottom: 50px;
  right: 50px;
  box-shadow: 0 24px 36px 0 rgba(54, 4, 185, 0.18);
  border-radius: 7px;
  cursor: pointer;
  z-index: 10;
}
.scroll-top i {
  -webkit-animation: bounce 2s ease infinite;
          animation: bounce 2s ease infinite;
}

@-webkit-keyframes bounce {
  0%, 10%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 10%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.row {
  row-gap: 30px;
}

select {
  display: none;
}

.form-select {
  background-image: none;
}

.nice-select {
  background-color: transparent !important;
  border-radius: 7px;
  border: 1px solid #fff;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 18px;
  color: #999;
  font-weight: normal;
  outline: none;
  padding: 30px 22px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: 100%;
  height: 71px;
  margin-bottom: 18px;
  line-height: 0;
}
.nice-select:hover {
  border-color: #d1d5de;
}
.nice-select .current {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.nice-select .option.selected {
  font-weight: normal;
  font-size: 16px;
}
.nice-select::after {
  border: none;
  content: "\f107";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight: 600;
  height: 5px;
  margin-top: -10px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 55% !important;
  transform-origin: 66% 66%;
  transform: rotate(0deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
  color: #fff;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #d1d5de;
  font-weight: normal;
}

.nice-select.open:after {
  transform: rotate(-180deg);
  margin-top: 0;
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
  width: 100%;
  border-radius: 7px;
  border: 1px solid #fff;
}

.pt-80 {
  padding-top: 80px;
}

.pt-72 {
  padding-top: 72px;
}

.pb-72 {
  padding-bottom: 72px;
}

.ml-35 {
  margin-left: 35px !important;
}
@media screen and (max-width: 991px) {
  .ml-35 {
    margin-left: 0 !important;
  }
}

.ml-30 {
  margin-left: 30px !important;
}
@media screen and (max-width: 991px) {
  .ml-30 {
    margin-left: 0 !important;
  }
}

.preloader {
  background-color: #013183;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999999;
  overflow: hidden;
}
.preloader .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.preloader .vertical-centered-box:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.preloader .vertical-centered-box .content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}

.preloader * {
  transition: all 0.3s;
}

.preloader .loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  margin-left: -60px;
  margin-top: -60px;
}

.preloader .loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
          mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  -webkit-animation: rotate 1.2s infinite linear;
          animation: rotate 1.2s infinite linear;
}
.preloader .loader-line-mask .loader-line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.preloader #particles-background,
.preloader #particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  transform: scale3d(0.5, 0.5, 1);
}

.preloader #particles-background {
  background: #2c2d44;
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

.preloader lesshat-selector {
  -lh-property: 0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.preloader lesshat-selector {
  -lh-property: 0;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
.preloader lesshat-selector {
  -lh-property: 0;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.preloader [not-existing] {
  zoom: 1;
}

.section-gap {
  padding: 120px 0 80px;
}

.section-gap-2 {
  padding: 80px 0 120px;
}

.section-top-gap-120 {
  padding-top: 120px;
}

.section-bottom-gap-120 {
  padding-bottom: 120px;
}

.section-top-gap-80 {
  padding-top: 80px;
}

.section-bottom-gap-80 {
  padding-bottom: 80px;
}

.mb-72 {
  margin-bottom: 32px;
}

.title-pb-40 {
  padding-bottom: 40px;
}
.title-pb-40 h3 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 33px;
  text-transform: capitalize;
}

.seperator {
  padding-bottom: 40px;
  border-bottom: 1px solid #d4d4d4;
}

.seperator-2 {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d4d4d4;
}

.nice-number {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 0px 20px;
}
.nice-number button,
.nice-number input {
  outline: 0;
  border: 0;
  background: transparent;
  font-size: 20px;
}
.nice-number button {
  font-size: 30px;
  color: #e25645;
}

select {
  display: none;
}

.form-select {
  background-image: none;
}

.nice-select {
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #d1d5de;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 18px;
  color: #999;
  font-weight: normal;
  outline: none;
  padding: 30px 22px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 18px;
  line-height: 10px;
}
.nice-select:hover {
  border-color: #d1d5de;
}
.nice-select .option.selected {
  font-weight: normal;
}
.nice-select::after {
  border: none;
  content: url("/assets/image/arrow-down.svg");
  display: block;
  height: 5px;
  pointer-events: none;
  position: absolute;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #d1d5de;
  font-weight: normal;
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
  width: 100%;
  border-radius: 7px;
  border: 1px solid #d1d5de;
}

.right-cate .nice-select::after {
  content: url("/assets/image/arrow-down-white.svg");
}

.section-title {
  font-size: 40px;
  color: #012665;
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 23px;
  }
}

/* Start Sticky */
.main-header {
  position: relative;
}
.main-header.sticky-on {
  top: 0;
  width: 100%;
  z-index: 20;
  position: fixed;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  transition: 0.3s all ease-in-out;
  background-color: #013183;
  box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  padding: 10px 0;
}
.main-header.sticky-on .top-header {
  display: none;
}
.main-header.sticky-on .menu-header .main-menu {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
}
.main-header.sticky-on .menu-header .menu-diveder,
.main-header.sticky-on .menu-header .header-search {
  display: none;
}
.main-header.sticky-on .navigation-main-area .dropdown .dropdown-menu {
  top: 60px;
}

/* End Sticky */
/*** Start Main Header ***/
.menu-header .container {
  position: relative;
}
.menu-header .main-menu {
  padding: 40px 0px;
}

/* Start Navigation area */
.navigation-main-area {
  text-align: right;
}
.navigation-main-area ul {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.navigation-main-area li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.navigation-main-area li a:hover {
  color: #fbd15b;
}

.navigation-main-area .dropdown {
  position: relative;
}

.navigation-main-area .dropdown .dropdown-menu {
  top: 76px;
  left: 0;
  opacity: 0;
  z-index: 5;
  margin: 0;
  padding: 0;
  height: auto;
  width: 250px;
  border: none;
  display: block;
  border-radius: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  background-clip: inherit;
  background-color: #fff;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out 0.3s;
  box-shadow: 0 5px 10px 0 rgba(83, 82, 82, 0.1);
}

.navigation-main-area .dropdown .dropdown-menu li {
  width: 100%;
  margin-left: 0;
  border-bottom: 1px solid #e5e5e5;
}
.navigation-main-area .dropdown .dropdown-menu li:hover a {
  padding-left: 40px;
}
.navigation-main-area .dropdown .dropdown-menu li:hover a::before {
  opacity: 1;
  transform: translateX(25px);
}

.navigation-main-area .dropdown .dropdown-menu li a {
  width: 100%;
  color: #232323;
  display: block;
  font-size: 18px;
  padding: 10px 25px;
  position: relative;
  transition: 0.3s all ease-in-out;
}

.navigation-main-area .dropdown .dropdown-menu li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 1px;
  opacity: 0;
  background-color: #013183;
  transform: translateX(15px);
  transition: all 0.3s ease-in-out;
}

.navigation-main-area .dropdown .dropdown-menu li a:hover {
  background-color: #fbd15b;
  color: #232323;
}

.navigation-main-area .dropdown .dropdown-menu li:last-child {
  border-bottom: none;
}

.navigation-main-area .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*Mobile Menu */
/*-------------------*/
.mobile_menu_content {
  top: 0;
  bottom: 0;
  left: -350px;
  height: 100vh;
  z-index: 101;
  position: fixed;
  width: 310px;
  overflow-y: scroll;
  background-color: #464647;
  padding: 20px 35px 35px 35px;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.19);
  transition: all 0.5s ease-in;
}

.mobile_menu_content .mobile-main-navigation {
  width: 100%;
}

.mobile_menu_content .mobile-main-navigation .navbar-nav {
  width: 100%;
}

.mobile_menu_content .dropdown:after {
  display: none;
}

.mobile_menu_content2 .dropdown:after {
  display: block;
}

.mobile_menu_content .navbar-nav .dropdown-menu {
  position: static !important;
  transform: none !important;
}

.mobile_menu_content .mobile-main-navigation .navbar-nav li {
  width: 100%;
  display: block;
  transition: 0.3s all ease-in-out;
}

.mobile_menu_content .mobile-main-navigation .navbar-nav li a {
  width: 100%;
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 30px 10px 0;
  border-bottom: 1px solid rgba(245, 245, 245, 0.17);
}

.mobile_menu_content .m-brand-logo {
  width: 150px;
  margin-bottom: 50px;
}

.mobile_menu_wrap.mobile_menu_on .mobile_menu_content {
  left: 0;
  transition: all 0.7s ease-out;
}

.mobile_menu_overlay {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  right: 0;
  height: 120vh;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease-in-out;
}

.mobile_menu_overlay_on {
  overflow: hidden;
}

.mobile_menu_wrap.mobile_menu_on .mobile_menu_overlay {
  opacity: 1;
  visibility: visible;
}

.mobile_menu_button {
  color: #fff;
  display: none;
  cursor: pointer;
  font-size: 30px;
  line-height: 0px;
  text-align: right;
}

.mobile_menu .mobile-main-navigation .navbar-nav li a:after {
  display: none;
}

.mobile_menu .mobile-main-navigation .dropdown > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.mobile_menu .mobile_menu_content .mobile-main-navigation .navbar-nav .dropdown-menu {
  border: none;
  display: none;
  transition: none;
  box-shadow: none;
  padding: 5px 0px;
  width: 100%;
  background-color: transparent;
}

.mobile_menu .mobile_menu_content .mobile-main-navigation .navbar-nav .dropdown-menu li {
  border: none;
  padding: 0 10px;
  line-height: 1;
}

.mobile_menu .mobile_menu_content .mobile-main-navigation .navbar-nav .dropdown-menu li:hover {
  background-color: transparent;
}

.mobile_menu .mobile_menu_content .mobile-main-navigation .navbar-nav .dropdown-menu li a {
  color: #fff !important;
}

.mobile_menu .mobile_menu_content .mobile-main-navigation .navbar-nav .dropdown-menu li a:hover {
  color: #e25645;
  background-color: transparent;
}

.mobile_menu .dropdown {
  position: relative;
}

.mobile_menu .dropdown .dropdown-btn {
  color: #9397a7;
  position: absolute;
  top: 3px;
  right: 0;
  height: 30px;
  padding: 5px 10px;
}

.mobile_menu .dropdown .dropdown-btn.toggle-open {
  transform: rotate(90deg);
}

.mobile_menu .mobile_menu_close {
  color: #d60606;
  cursor: pointer;
  top: 25px;
  right: 25px;
  font-size: 20px;
  position: absolute;
}

.header_btn {
  display: inline-block;
  background-color: #ff5400;
  border: 1px solid #ff5400;
  padding: 11px 28px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}
.header_btn:hover {
  color: #fff;
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .display-none {
    display: none;
  }
}
@media screen and (max-width: 1166px) {
  .navigation-main-area ul {
    display: flex;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }

  .navigation-main-area li {
    margin-left: 30px;
  }
  .navigation-main-area li:first-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .main-header.sticky-on {
    padding: 10px 15px;
  }

  .menu-header .container {
    padding: 0;
  }
  .menu-header .main-menu {
    position: relative;
    top: 0;
    padding: 15px 40px;
  }

  .mobile_menu_button {
    display: block;
  }

  .navigation-main-area {
    display: none;
  }

  .navigation-main-area ul {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .logo-col {
    flex: 0 0 auto;
    width: 80%;
  }

  .menu-col {
    flex: 0 0 auto;
    width: 20%;
  }
}
.menu-diveder {
  display: inline-block;
  margin: 40px 0;
  width: 100%;
  height: 2px;
  background-color: #275096;
}

.menuSearch .nice-select {
  width: 151px !important;
  background: #fff !important;
  color: #013183 !important;
  border-radius: 5px 0 0 5px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .menuSearch .nice-select {
    width: 100% !important;
    border-radius: 5px 5px 0 0;
  }
}
.menuSearch .nice-select .current {
  color: #013183;
}
.menuSearch .nice-select::after {
  color: #013183;
}
.menuSearch a {
  display: block;
  width: 100%;
  position: relative;
}
.menuSearch a input {
  width: 100%;
  height: 71px;
  border: 0;
  border-radius: 0 5px 5px 0;
  background-color: #4d6fa8;
  padding: 23px 48px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .menuSearch a input {
    border-radius: 0 0 5px 5px;
    padding: 20px;
  }
}
.menuSearch a input::-moz-placeholder {
  color: #b8c5dc;
}
.menuSearch a input:-ms-input-placeholder {
  color: #b8c5dc;
}
.menuSearch a input::placeholder {
  color: #b8c5dc;
}
.menuSearch a::after {
  border: none;
  content: url("/assets/image/search-normal.svg");
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  top: 25px;
  right: 50px;
  transition: all 0.15s ease-in-out;
  width: 5px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .menuSearch a::after {
    right: 30px;
  }
}

.promo-tab {
  padding-bottom: 37px;
}
.promo-tab .nav {
  gap: 24px;
}
@media screen and (max-width: 991px) {
  .promo-tab .nav {
    gap: 8px;
  }
}
.promo-tab .nav .nav-item .nav-link {
  border-radius: 4px;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f4f4f4;
  color: #013182;
}
.promo-tab .nav .nav-item .nav-link.active {
  background-color: #013183;
  color: #fff;
}
.promo-tab .nav .nav-item .nav-link:hover {
  background-color: #013183;
  color: #fff;
}

.box-item {
  background-color: #f7f7f7;
  border-radius: 12px;
  transition: all 0.3s;
}
.box-item:hover .box-item-content {
  background-color: #fff;
  box-shadow: 0px 10px 250px -40px rgba(0, 0, 0, 0.2);
}
.box-item:hover .box-item-content .box-item-title {
  color: #ff5400;
}

.box-item-img {
  position: relative;
}
.box-item-img .rating-price .rating {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #fff;
  border-radius: 52px;
  text-align: center;
  width: 97px;
  height: 40px;
  line-height: 40px;
}
.box-item-img .rating-price .rating i {
  color: #ff5400;
}
.box-item-img .rating-price .rating span {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}
.box-item-img .rating-price .price {
  position: absolute;
  bottom: -45px;
  right: 32px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  line-height: 90px;
  background-color: #ff5400;
  color: #fff;
}
.box-item-img .rating-price .price span {
  font-size: 28px;
  font-weight: 700;
}

.box-item-content {
  padding: 27px 32px 36px;
}
.box-item-content .box-item-cat {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  padding-bottom: 12px;
}
.box-item-content .box-item-title {
  display: block;
  font-family: "Helvetica", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 12px;
}
.box-item-content p {
  font-size: 14px;
  font-weight: 300;
  line-height: 160%;
}

.content-title {
  padding-bottom: 24px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccd4e0;
  row-gap: 30px;
}

.section-link {
  padding: 12px 24px;
  background-color: #f7f7f7;
  border-radius: 4px;
  font-size: 20px;
  color: #013183 !important;
  font-weight: 700;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .section-link {
    padding: 15px;
    font-size: 16px;
  }
}
.section-link svg {
  padding-left: 6px;
  fill: #012665;
  stroke: #012665;
}
.section-link:hover {
  color: #ff5400 !important;
}

.think-box-content {
  padding: 112px 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.think-box-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #012665;
  opacity: 60%;
}

.think-box {
  position: relative;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .think-box {
    padding: 0 10px;
  }
}
.think-box h3 {
  font-size: 56px;
  color: #fff;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .think-box h3 {
    font-size: 30px;
  }
}
.think-box p {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .think-box p {
    font-size: 16px;
  }
}

.learn-left {
  background-color: #693fd7;
  border-radius: 12px 0 0 12px;
  padding: 104px 81px 90px 60px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .learn-left {
    padding: 50px 35px;
  }
}
.learn-left h3 {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 11px;
}
@media screen and (max-width: 767px) {
  .learn-left h3 {
    font-size: 30px;
  }
}
.learn-left[data-background] {
  background-size: contain;
}

@media screen and (max-width: 991px) {
  .learn-left,
.learn-right {
    border-radius: 12px;
    overflow: hidden;
  }
}
.design-load {
  display: flex;
  justify-content: center;
}
.design-load a {
  width: 210px;
  height: 58px;
  border-radius: 12px;
  background-color: #ff5400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.design-load a svg {
  fill: #fff;
}

.testimonial {
  padding: 160px 0 120px;
  position: relative;
}
.testimonial::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 585px;
  background-color: #68b999;
}
@media screen and (max-width: 991px) {
  .testimonial::after {
    height: 700px;
  }
}
.testimonial .testi-element-1 {
  position: absolute;
  right: 134px;
  bottom: 115px;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .testimonial .testi-element-1 {
    display: none;
  }
}

.testi-item-wrap {
  position: relative;
  z-index: 1;
}

.testi-author {
  border-radius: 12px;
  overflow: hidden;
}
.testi-author-content {
  padding: 40px;
  background-color: #fff;
}
.testi-author-content a {
  display: block;
  font-size: 28px;
  color: #013183;
  line-height: 130%;
  padding-bottom: 12px;
}
@media screen and (max-width: 767px) {
  .testi-author-content a {
    font-size: 24px;
  }
}
.testi-author-content p {
  font-size: 16px;
  color: #99adcd;
  line-height: 160%;
}

.testi-text {
  position: relative;
}
.testi-text img {
  position: absolute;
  top: -140px;
}
.testi-text p {
  font-size: 27px;
  color: #fff;
  line-height: 160%;
}
@media screen and (max-width: 767px) {
  .testi-text p {
    font-size: 20px;
  }
}

.swiper-pagination {
  bottom: 100px !important;
  left: 60px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #b3dccc;
  margin-right: 20px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
  position: relative;
}
.swiper-pagination .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 50%;
}

@media screen and (max-width: 991px) {
  .testi-text img {
    display: none;
  }

  .swiper-pagination {
    display: none;
  }
}
.footer-top {
  background-color: #013183;
  padding: 120px 0px 80px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .footer-top .footer-element-1,
.footer-top .footer-element-3,
.footer-top .footer-element-4,
.footer-top .footer-element-5,
.footer-top .footer-element-6 {
    display: none;
  }
}

.footer-element-1 {
  position: absolute;
  top: 72px;
  left: 94px;
}

.footer-element-3 {
  position: absolute;
  top: 93px;
  right: 129px;
}

.footer-element-4 {
  position: absolute;
  bottom: 73px;
  left: 738px;
}

.footer-element-5 {
  position: absolute;
  bottom: 67px;
  right: 184px;
}

.footer-element-6 {
  position: absolute;
  top: 18px;
  left: 600px;
}

.footer-widget .footer-logo {
  padding-bottom: 27px;
}
.footer-widget .footer-title {
  font-size: 28px;
  color: #fff;
  line-height: 130%;
  padding: 20px 0 27px;
}
.footer-widget .footer-text p {
  color: #fff;
}
.footer-widget .footer-icon {
  margin-top: 30px;
}
.footer-widget .footer-icon ul {
  gap: 16px;
}
.footer-widget .footer-icon ul li {
  list-style: none;
}
.footer-widget .footer-icon ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #244c8d;
  transition: all 0.3s;
}
.footer-widget .footer-icon ul li a:hover {
  background-color: #fff;
}
.footer-widget .footer-icon ul li a:hover i {
  color: #ff5400;
}
.footer-widget .footer-icon i {
  color: #fff;
}
.footer-widget .footer-list a {
  color: #fff;
  font-size: 20px;
  line-height: 170%;
  margin-bottom: 12px;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}
.footer-contact .icon,
.footer-contact .text {
  color: #fff;
  font-size: 20px;
}

.footer-copy {
  padding: 27px 0;
  background-color: #012665;
}

.footer-copy-text {
  font-size: 20px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */