/*Fonts*/
@import "fonts";

// @import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Variable css
@import "variable";

/*----------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: $body_font_size;
  color: $body_text_color;
  font-family: $body_font;
  background-color: #fff;
  line-height: 1.5;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1170px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body_font;
  font-size: $heading_size;
  color: $heading_color;
  font-weight: $fw_bold;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
}

ol,
ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

.ul-li {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
    }
  }
}

[data-background] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s all ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a:visited,
a.active,
select,
select:hover,
select:focus,
select:visited {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.scroll-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00715d;
  width: 50px;
  height: 50px;
  color: #fff;
  bottom: 50px;
  right: 50px;
  box-shadow: 0 24px 36px 0 rgba(54, 4, 185, 0.18);
  border-radius: 7px;
  cursor: pointer;
  z-index: 10;

  i {
    animation: bounce 2s ease infinite;
  }
}

@keyframes bounce {
  0%,
  10%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.row {
  row-gap: 30px;
}

// Spacing css
@import "spacing";
// Common css
@import "common";
// Navs css
@import "promo";
// Box item css
@import "box-item";
// Popular course css
@import "popular-course";
// Think Box css
@import "think-box";
// Learn Box css
@import "learn-box";
// Footer css
@import "footer";
